<link rel="stylesheet" href="static/template.css">

<style>
.profile-image {
    width: 50px;
    vertical-align:middle;
}
</style>
{% if 'name' in session %}

<h3 style="display:inline" >
    <a href="/profile">
        <img src="{{session['profilePic']}}" class="profile-image" >
        {{session['name']}}#{{session['id']}}
    </a>
</h3>
<h1>The eSports Orgainser</h1>
<div class = 'main'>
    <a href="/logout" class="fatlink">
        Log Out</a>
    {% else %}
    <a href="/login" class="fatlink">
        Log In</a>
    {% endif %}

    {% if player['team'] %}
    <a href="/find_match" class="fatlink">Find a Game</a>
    {% else %}
    <a href="/create_team" class="fatlink">Create a Team</a>
    {% endif %}
    