<link rel="stylesheet" href="static/template.css">

<style>
.profile-image {
    width: 50px;
    
}
</style>
<div style = 'border: 2px solid black;'>
{% if 'name' in session %}
<img src="{{session['profile_picture_url']}}" class="profile-image" ><h3 style="display:inline">{{session['username']}}</h3>
</div>
<h1>The eSports Orgainser</h1>
<div class = 'main'>
    <a href="/logout">
        Log Out</a>
    {% else %}
    <a href="/login">
        Log In</a>
    {% endif %}

    <a href="/set_picture">Set Profile Picture</a>
    <h3>Input Post:</h3>
    
        <form action="/create_post" method="post">
            <input type="text" name="message">
            <input type="submit">
        </form>
</div>